.page-container {
    height: 100vh;
}

/*Navbar*/
.navbar {
    background-color: var(--secondary-color);
    box-shadow: var(--box-shadow);
    position: fixed;
    width: 100vw;
    z-index: 1;
}

.title {
    color: var(--primary-color);
}

.nav-links {
    color: var(--text-color1);
}

.nav-shop {
    color: var(--primary-color);
}

.searchbar-btn{
    background-color: var(--white);
    border: 0.5px solid black;
    border-right: none;
    padding: 0.625rem 1rem;
}

.searchbar-input {
    border: 0.5px solid black;
    border-left: none;
    width: 35rem;
    padding: 0.625rem 1.25rem;
    outline: none;
}

.badge-container{
    position: relative;
    box-sizing: border-box;
}

.status-badge {
    height: 1.25rem;
    min-width: 1.25rem;
    padding: 2px;
    border-radius: 50%;
    border: 2px solid var(--white);
    display: flex;
    color: var(--white);
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: .75em;
    box-sizing: border-box;
}

.status-badge-number {
    background-color: var(--primary-color);
    border: none;
    right: -1rem;
    top: -0.7rem;
}

.searchbar-smallscreen {
    display: none;
}

/*Main*/
.main {
    margin-top: calc(4.375rem + 2rem);
}

/*Filter*/

.left-filter {
    grid-column: 1/2;
    /* overflow-y: auto; */
}

.filter-clear {
    border-bottom: 1px solid var(--primary-color);
}

.filter-checkbox-field {
    width: 1rem;
    height: 1rem;
}

/*Product-display*/
.product-display {
    grid-column: 2/-1;
}

.product-card {
    width: 16rem;
    height: 25rem;
    box-shadow: var(--box-shadow);
    transition: all 0.2s ease;
}

.product-card:hover {
    transform: scale(1.02);
}

.product-img-container {
    width: 16rem;
    height: 16.875rem;
}

.card-badge {
    position: absolute;
}

.product-img {
    width: 100%;
    height: 100%;
}

.wishlist-fav-btn {
    color: var(--fav-btn);
}

.product-card-text-container {
    gap: 0.3rem;
}

.dod-company, .dod-product{
    font-size: 1rem;
    margin-bottom: 0;
}

.card-dod-discount-price {
    font-size: 0.9rem;
    font-weight: bold;
}

.card-dod-reviews {
    font-size: 0.7rem;
}

.cart-icon {
    padding-right: 0.5rem;
}

.product-cart-btn, .product-wishlist-btn {
    padding: 6px;
    border: none;
    cursor: pointer;
}

.product-cart-btn {
    background-color: var(--primary-color);
    color: var(--white); 
}

.product-wishlist-btn {
    background-color: var(--fav-btn);
    color: var(--white); 
}

/*Out of stock*/
.product-card-outofstock {
    opacity: 0.7;
}

.product-card-outofstock:hover {
   transform: scale(1);
}

.product-btn-outofstock {
    cursor: default;
}

/*Footer*/
.footer{
    background-color: var(--secondary-color);
    box-shadow: var(--box-shadow);
    z-index: 1;
}

.footer-social-icons {
	margin: 1rem auto;
    padding-left: 0;
}

.footer-social-icons a {
	transition: 0.2s ease;
    color: var(--footer-social-icons);
    margin: 1rem;
}

.footer-social-icons a:hover {
	color: var(--primary-color);
}

.footer-header {
	letter-spacing: 0.5px;
}

.footer-header span{
	color: var(--primary-color);
}

.footer-copy {
	color: var(--primary-color);
}

/*Media-Queries*/

/* @media screen and (max-width : 1140px) {
    :root{
        font-size: 14px;
    }
}

@media screen and (max-width : 1000px) {
    :root{
        font-size: 12px;
    }
}

@media screen and (max-width : 850px) {
    :root{
        font-size: 10px;
    }
}

@media screen and (max-width : 720px) {
    body {
        height: 100vh;
    }
    :root{
        font-size: 8px;
    }
} */