.page-container {
    min-height: calc(100vh - 7rem);
}

/*Navbar*/
.navbar {
    background-color: var(--secondary-color);
    box-shadow: var(--box-shadow);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.title {
    color: var(--primary-color);
}

.nav-links {
    color: var(--text-color1);
}

.nav-home{
    color: var(--primary-color);
}

.searchbar-btn{
    background-color: var(--white);
    border: 1px solid var(--border-color1);
    border-right: none;
    padding: 0.625rem 1rem;
}

.searchbar-input {
    border: 1px solid var(--border-color1);
    border-left: none;
    width: 35rem;
    padding: 0.625rem 1.25rem;
    outline: none;
}

.badge-container{
    position: relative;
    box-sizing: border-box;
}

.status-badge {
    height: 1.25rem;
    min-width: 1.25rem;
    padding: 2px;
    border-radius: 50%;
    border: 2px solid var(--white);
    display: flex;
    color: var(--white);
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: .75em;
    box-sizing: border-box;
}

.status-badge-number {
    background-color: var(--primary-color);
    border: none;
    right: -1rem;
    top: -0.7rem;
}

.searchbar-small-screen {
    display: none;
}

/*Main*/

.main {
    margin-top: calc(4.375rem + 0rem);
}

.home-image {
    width: 100%;
    height: 20rem;
    object-fit: cover;
    grid-column: 1/-1;
    grid-row-start: 1;
    border-radius: 1rem;
}

.home-text {
    top: 10rem;
    left: 40vw;
    color: var(--white);
    grid-column: 2/4;
    grid-row-start: 1;
}

.home-btn {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.home-btn:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

/*Category and brands*/
.category-header {
    color: var(--text-color1);
}

.categories-article {
    position: relative;
    transition: all 0.2s ease-in-out;
    border-radius: 1rem;
    box-shadow: var(--box-shadow);
}

.categories-article:hover {
    transform: scale(1.05);
}
.categories-overlay-container {
    width: 12rem;
    height: 15rem;
    position: relative;
    border-radius: 1rem;
}

.category-image {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}

.categories-text-overlay {
    position: absolute;
    width: 12rem;
    height: 15rem;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: black;
    border-radius: 1rem;
    background-color: var(--background-color1);
}

/*Deals of the day*/
.card-img-vt{
    width: 100%;
    height: 80%;
    max-width: 20rem;
    max-height: 20rem;
    object-fit: cover;
}

.card-text-only {
    margin-top: 0;
    border-radius: 1rem;
    box-shadow: none;
    border: 1px solid var(--border-color1);
}

.card-text-only:hover {
    border: 1px solid var(--primary-color);
    box-shadow: var(--box-shadow);
}

.card-vertical {
    margin-top: 0;
}

.dod-company, .dod-product{
    font-size: large;
    margin-bottom: 0;
}

.card-rating {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.card-dod-discount-price {
    font-size: medium;
    font-weight: bold;
}

.card-dod-reviews {
    font-size: small;
}



/*Footer*/
.footer{
    background-color: var(--secondary-color);
    box-shadow: var(--box-shadow);
    z-index: 1;
}

.footer-social-icons {
	margin: 1rem auto;
    padding-left: 0;
}

.footer-social-icons a {
	transition: 0.2s ease;
    color: var(--footer-social-icons);
    margin: 1rem;
}

.footer-social-icons a:hover {
	color: var(--primary-color);
}

.footer-header {
	letter-spacing: 0.5px;
}

.footer-header span{
	color: var(--primary-color);
}

.footer-copy {
	color: var(--primary-color);
}

/*Footer*/
.footer{
    background-color: var(--secondary-color);
    box-shadow: var(--box-shadow);
    z-index: 1;
    width: 100%;
}

.footer-social-icons {
	margin: 1rem auto;
    padding-left: 0;
}

.footer-social-icons a {
	transition: 0.2s ease;
    color: var(--footer-social-icons);
    margin: 1rem;
}

.footer-social-icons a:hover {
	color: var(--primary-color);
}

.footer-header {
	letter-spacing: 0.5px;
}

.footer-header span{
	color: var(--primary-color);
}

.footer-copy {
	color: var(--primary-color);
}

/*Media-Queries*/

@media screen and (max-width : 1210px) {

    .card-dod-reviews, .card-dod-discount-price, .price-strike {
        font-size: smaller;
    }

    .card-btn-container-hz {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .btn-icon-text, .dod-wishlist-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1.2rem;
        height: 2rem;
        font-size: smaller;
    }

    .dod-wishlist-btn {
        padding: 1rem;
    }
}

@media screen and (max-width : 1160px) {

    .navbar {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .nav-icons {
        flex-grow: 1;
        justify-content: flex-end;
    }

    .searchbar {
        display: none;
    }

    .searchbar-small-screen {
        display: flex;
        z-index: 1;
        position: fixed;
        top: 4.4rem;
        width: 100%;
        border: none;
    }

    .main {
        margin-top: calc(4.375rem + 2.5rem);
    }

    .footer {
        z-index: 1;
        min-width: 35.7rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}

@media screen and (max-width : 1000px) {

    :root{
        font-size: 14px;
    }

    .btn-icon-text{
        padding: 1rem; 
    }

    .dod-wishlist-btn {
        padding: 0.8rem;
    }
}

@media screen and (max-width : 640px) {
    :root{
        font-size: 12px;
    }
}
