.page-container {
    min-height: calc(100vh - 7rem);
}

/*Navbar*/
.navbar {
    background-color: var(--secondary-color);
    box-shadow: var(--box-shadow);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.title {
    color: var(--primary-color);
}

.nav-links {
    color: var(--text-color1);
}

.nav-shop {
    color: var(--primary-color);
}

.searchbar-btn{
    background-color: var(--white);
    border: 1px solid var(--border-color1);
    border-right: none;
    padding: 0.625rem 1rem;
}

.searchbar-input {
    border: 1px solid var(--border-color1);
    border-left: none;
    width: 35rem;
    padding: 0.625rem 1.25rem;
    outline: none;
}

.badge-container{
    position: relative;
    box-sizing: border-box;
}

.status-badge {
    height: 1.25rem;
    min-width: 1.25rem;
    padding: 2px;
    border-radius: 50%;
    border: 2px solid var(--white);
    display: flex;
    color: var(--white);
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: .75em;
    box-sizing: border-box;
}

.status-badge-number {
    background-color: var(--primary-color);
    border: none;
    right: -1rem;
    top: -0.7rem;
}

.searchbar-small-screen {
    display: none;
}

/*Main*/
.main {
    margin-top: calc(4.375rem + 2rem);
}

/*Filter*/
.left-filter {
    grid-column: 1/2;
}

.left-filter-btn-container-small-screen {
    display: none;
}

.filter-clear {
    border-bottom: 1px solid var(--primary-color);
}

.filter-checkbox-field {
    width: 1rem;
    height: 1rem;
}


/*Product-display*/
.product-display {
    grid-column: 2/-1;
}

.product-card {
    width: 16rem;
    height: 25rem;
    box-shadow: var(--box-shadow);
    transition: all 0.2s ease;
}

.product-card:hover {
    transform: scale(1.02);
}

.product-img-container {
    width: 16rem;
    height: 16.875rem;
}

.card-badge {
    position: absolute;
}

.product-img {
    width: 100%;
    height: 100%;
}

.wishlist-fav-btn {
    color: var(--fav-btn);
}

.dod-company, .dod-product{
    font-size: 1rem;
    margin-bottom: 0;
}

.card-dod-discount-price {
    font-size: 0.9rem;
    font-weight: bold;
}

.card-dod-reviews {
    font-size: 0.7rem;
}

.cart-icon {
    padding-right: 0.5rem;
}

.product-cart-btn, .product-wishlist-btn {
    padding: 6px;
    border: none;
    cursor: pointer;
}

.product-cart-btn {
    background-color: var(--primary-color);
    color: var(--white); 
}

.product-wishlist-btn {
    background-color: var(--fav-btn);
    color: var(--white); 
}

/*Out of stock*/
.product-card-outofstock {
    opacity: 0.7;
}

.product-card-outofstock:hover {
   transform: scale(1);
}

.product-btn-outofstock {
    cursor: default;
}

/*Footer*/
.footer{
    background-color: var(--secondary-color);
    box-shadow: var(--box-shadow);
    z-index: 1;
}

.footer-social-icons {
	margin: 1rem auto;
    padding-left: 0;
}

.footer-social-icons a {
	transition: 0.2s ease;
    color: var(--footer-social-icons);
    margin: 1rem;
}

.footer-social-icons a:hover {
	color: var(--primary-color);
}

.footer-header {
	letter-spacing: 0.5px;
}

.footer-header span{
	color: var(--primary-color);
}

.footer-copy {
	color: var(--primary-color);
}

.filter-navigation-small-screen {
    display: none;
}

/*Media-Queries*/

@media screen and (max-width : 1160px) {

    .navbar {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .nav-icons {
        flex-grow: 1;
        justify-content: flex-end;
    }

    .searchbar {
        display: none;
    }

    .searchbar-small-screen {
        display: flex;
        z-index: 1;
        position: fixed;
        top: 4.4rem;
        width: 100%;
        border: none;
    }

    .footer {
        z-index: 1;
        min-width: 35.7rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}

@media screen and (max-width : 1000px) {
    :root{
        font-size: 14px;
    }
}

@media screen and (max-width : 880px) {
    .product-card {
        width: 15rem;
        height: 22rem;
    }

    .product-img-container {
        width: 15rem;
        height: 14rem;
    }
    
}

@media screen and (max-width : 850px) {
    .filter-navigation-small-screen {
        position: fixed;
        bottom: 0;
        display: flex;
        justify-content: space-between;
        background-color: var(--background-color2);
        width: 100%;
        padding: 0.7rem 1rem;
    }

    .left-filter {
        display: none;
    }

    .left-filter-btn-container {
        display: none;
    }

    .left-filter-btn-container-small-screen {
        display: flex;
        justify-content: space-between;
        height: fit-content;
    }

    .left-filter-small-screen {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        margin: 0;
        padding: 2rem 3rem 0 2rem;
        background-color: var(--background-color2);
        z-index: 2;
    }

    .product-display{
        grid-column: 1/-1;
        margin-right: 1rem;
        margin-left: 1rem;
        justify-content: space-evenly;
    }

    .filter-btn-small-screen:hover, .clear-btn-small-screen:hover, .left-filter-apply-btn-small-screen:hover, .left-filter-clear-btn-small-screen:hover {
        color: var(--primary-color);
    }
}

@media screen and (max-width : 640px) {
    :root{
        font-size: 12px;
    }
}
